html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section>hr {
    width: 50px;
    border: 2px solid #b1976b;
    margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
    section>h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 426px) {
    section>h2 {
        font-size: 24px;
    }
}


/* HEADER */
header .main-nav {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: white;
    padding: 15px;
    width: 100%;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

header .main-nav img {
    width: 50px;
}

header .main-nav a {
    color: black;
    font-size: 15px;
    padding: 0 10px;
}


header .main-nav-contact {
    font-size: 15px;

}

header .main-nav .main-nav-contact img {
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
}

header .main-nav .main-nav-contact a {
    padding: 0 5px;
}

header .shorten-contact {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
    margin-left: 18px;
}

header .shorten-contact>div {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .shorten-contact a {
    color: black;
    font-size: 10px;
}

header .shorten-contact img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

header .app-nav-trigger {
    display: none;
}

header .app-nav {
    position: fixed;
    min-height: 100vh;
    width: 320px;
    right: -320px;
    transition: right 0.5s ease-in-out;
    background-color: #FFFFFF;
    z-index: 1000;
}

header .app-nav-menu-content a {
    text-decoration: none;
    color: #000000;
    transition: color 0.5s;
    margin-top: 20px;
    text-align: center;
}

header .app-nav-menu-content a:hover {
    font-weight: bold;
}

header .app-nav-trigger-label {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    user-select: none;
    cursor: pointer;
    font-size: 2.5rem;
    z-index: 2000;
}

header .app-nav-trigger:checked~.app-nav {
    right: 0;
}

header .app-nav-icon {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

header .app-nav-icon:hover span {
    background: #FFFFFF;
}

header .app-nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000000;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

header .app-nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

header .app-nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

header .app-nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

header .app-nav-trigger:checked~.app-nav-trigger-label .app-nav-icon span {
    background: #000000 !important;
}

header .app-nav-trigger:checked~.app-nav-trigger-label .app-nav-icon span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

header .app-nav-trigger:checked~.app-nav-trigger-label .app-nav-icon span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

header .app-nav-trigger:checked~.app-nav-trigger-label .app-nav-icon span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

header .hero-image {
    background: url('./assets/gda2.JPG');
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .hero-image .white-background {
    height: 50%;
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    border-radius: 5px;
}


header .hero-image .title {
    background: url('./assets/gda2.JPG') -20px -20px no-repeat;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 200px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    header .hero-image .white-background {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    header .hero-image .title {
        font-size: 120px;
    }

    header .hero-image .white-background {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    header .hero-image .title {
        font-size: 100px;
    }

    header .hero-image .white-background {
        width: 80%;
    }
}

@media screen and (max-width: 767px) {
    header .shorten-contact {
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    header .shorten-contact {
        display: none;
    }

    header .app-nav-trigger-label {
        display: none;
    }
}


@media screen and (min-width: 1024px) {
    header .main-nav {
        display: flex;
    }
}


/* ABOUT */

@keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

#about p.animatetop {
    position: relative;
    animation: animatetop 1 0.5s;
}

@media screen and (max-width: 400px) {
    #about p {
        font-size: 12px;
    }
}


/* CREW */

#crew .contact {
    font-size: 14px;
}

#crew .contact img {
    max-width: 2rem;
    max-height: 2rem;
    margin-right: 5px;
}

#crew h3 {
    font-size: 20px;
    text-align: center;
}

#crew h4 {
    font-size: 18px;
    text-align: center;
}

#crew div hr {
    border-color: #b1976b;
    width: 50%;
}

#crew p {
    font-size: 14px;
}

#crew .contact {
    font-size: 14px;
}

@media screen and (max-width: 1300px) {
    #crew p {
        font-size: 12px;
    }

    #crew .contact {
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) {
    #crew p {
        font-size: 11px;
    }

    #crew .contact {
        font-size: 11px;
    }
}

@media screen and (max-width: 1024px) {
    #crew p {
        font-size: 10px;
    }

    #crew .contact>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 992px) {
    #crew p {
        font-size: 14px;
    }

    #crew .contact {
        font-size: 10px;
    }
}

@media screen and (max-width: 850px) {
    #crew p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    #crew p {
        font-size: 11px;
    }

    #crew .contact {
        font-size: 10px;
    }

    #crew .contact>div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    #crew p {
        font-size: 10px;
    }
}

@media screen and (max-width: 640px) {
    #crew h3 {
        font-size: 17px;
    }

    #crew p {
        font-size: 8px;
    }
}

@media screen and (max-width: 575px) {
    #crew h3 {
        font-size: 20px;
    }

    #crew p {
        font-size: 14px;
    }

    #crew .contact {
        font-size: 12px;
    }
}

@media screen and (max-width: 470px) {
    #crew p {
        font-size: 13px;
    }
}

@media screen and (max-width: 425px) {
    #crew p {
        font-size: 10px;
    }

    #crew .contact {
        font-size: 11px;
    }
}

@media screen and (max-width: 375px) {
    #crew p {
        font-size: 8px;
    }
}



/* The flip card container */
.flip-card {
    background-color: transparent;
    perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card-active .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

/* SPECIALIZATION */

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(0deg);
    }

    60% {
        transform: rotate(-15deg);
    }

    80% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(15deg);
    }
}

#specializations .img-container {
    height: 5rem;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#specializations img {
    max-width: 5rem;
    max-height: 5rem;
}

#specializations img:hover {
    animation: swing ease-in-out 3s infinite;
}

#specializations h5 {
    text-align: center;
}

/* CONTACT */

#contact {
    background-color: #000000;
    color: #FFFFFF;
    padding: 30px 0;
}

#contact .contact-title {
    font-size: 20px;
    text-align: center;
}

#contact .contact-heading {
    color: #b1976b;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

#contact .contact-text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

#contact .contact-text-small {
    text-align: center;
    font-size: 9px;
    line-height: 15px;
    max-width: 250px;
}

#contact a {
    text-decoration: none;
    color: white;
}

#contact a:hover {
    text-decoration: none;
    color: white;
}

#contact label {
    font-size: 12px;
    margin-top: 5px;
}

#contact input:-webkit-autofill,
#contact input:-webkit-autofill:hover,
#contact input:-webkit-autofill:focus,
#contact input:-webkit-autofill:active,
#contact textarea:-webkit-autofill,
#contact textarea:-webkit-autofill:hover,
#contact textarea:-webkit-autofill:focus,
#contact textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #FDEFE8 inset !important;
    -webkit-text-fill-color: #414142 !important;
}

#contact input {
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    border: none;
}

#contact input:focus {
    outline: none;
}

#contact textarea {
    min-height: 130px;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    border: none;
    resize: none;
}

#contact textarea:focus {
    outline: none;
}

#contact .contact-submit-btn {
    max-width: 250px;
    background-color: #b1976b;
    color: #fff;
}

@media screen and (max-width: 425px) {
    #contact .contact-title {
        font-size: 18px;
    }
}

/* FOOTER */

footer {
    background-color: #000000;
    color: #FFFFFF;
}